html {
  --brand-color: #7477fd;
  
  --primary-100: oklch(from var(--brand-color) 98% c h / 100%);
  --primary-500: oklch(from var(--brand-color) l c h);
  --primary-900: oklch(from var(--brand-color) 8% 0.05 h / 100%);

  --background-color: light-dark(
      var(--primary-100),
      var(--primary-900)
    );

  color-scheme: light dark;
}

body {
  background-color: var(--background-color);
}